.register-login-form{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.alert {
    width: 40%;
    padding: 1em 1em 1em 1em;
    border-radius: 30px;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
}
.workout{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
}
.card {
    border-radius: 15px;
    background-color: rgba(48, 62, 73, 0.979);
    margin: 1.5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    flex: 0 0 30%;
    height: 250px;
  }
  .card img{
    border-radius: 15px 15px 0 0;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -9px;
    width: 100%;
    height: 25%
  }
  .container p{
    text-align: center;
    margin: auto;
    width: 100%;
  }
  
  
  .workoutPage{
    margin: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .workoutPage h1{
    margin-top: 50px;
    font-size: 20px;
  }
  .workoutPage video{
    width: 60%;
    border-radius: 25px;
    margin: auto;
  }
  .workoutPage img{
    margin: auto;
    border-radius: 25px;
  }
  .workoutPage .topConntener{
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      width: 90%;
      maring: auto;
  }
  .workoutPage .favorite{
      font-size: 230%;
      text-decoration: none;
      border-bottom: none !important;

    }